body{

background-color: aliceblue;



}

.panelSm{

    text-align: center;
    height: 200px;
    width: 200px;
    background-color: coral;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    float: left;
    height: 11rem;
    margin: 4px;
    overflow: hidden;
    width: 11.25rem;




}